<div id="cont1">
	<div id="div1" [ngStyle]="{'background-color': color0}"></div>
	<div id="div1" [ngStyle]="{'background-color': color1}"></div>
	<div id="div1" [ngStyle]="{'background-color': color2}"></div>
	<div id="div1" [ngStyle]="{'background-color': color3}"></div>
	<div id="div1" [ngStyle]="{'background-color': color4}"></div>
</div>

<div id="cont1">
	<div id="div2" [ngStyle]="{'background-color': color5}"></div>
	<div id="div2" [ngStyle]="{'background-color': color6}"></div>
	<div id="div2" [ngStyle]="{'background-color': color7}"></div>
	<div id="div2" [ngStyle]="{'background-color': color8}"></div>
	<div id="div2" [ngStyle]="{'background-color': color9}"></div>
<div>

<div id="cont1">
	<div id="div2" [ngStyle]="{'background-color': color10}"></div>
	<div id="div2" [ngStyle]="{'background-color': color11}"></div>
	<div id="div2" [ngStyle]="{'background-color': color12}"></div>
	<div id="div2" [ngStyle]="{'background-color': color13}"></div>
	<div id="div2" [ngStyle]="{'background-color': color14}"></div>
<div>

<div id="cont1">
	<div id="div1" [ngStyle]="{'background-color': color0}"></div>
	<div id="div1" [ngStyle]="{'background-color': color1}"></div>
	<div id="div1" [ngStyle]="{'background-color': color2}"></div>
	<div id="div1" [ngStyle]="{'background-color': color3}"></div>
	<div id="div1" [ngStyle]="{'background-color': color4}"></div>
</div>

<div id="cont1">
	<div id="div2" [ngStyle]="{'background-color': color5}"></div>
	<div id="div2" [ngStyle]="{'background-color': color6}"></div>
	<div id="div2" [ngStyle]="{'background-color': color7}"></div>
	<div id="div2" [ngStyle]="{'background-color': color8}"></div>
	<div id="div2" [ngStyle]="{'background-color': color9}"></div>
<div>

<div id="cont1">
	<div id="div2" [ngStyle]="{'background-color': color10}"></div>
	<div id="div2" [ngStyle]="{'background-color': color11}"></div>
	<div id="div2" [ngStyle]="{'background-color': color12}"></div>
	<div id="div2" [ngStyle]="{'background-color': color13}"></div>
	<div id="div2" [ngStyle]="{'background-color': color14}"></div>
<div>

	<div id="cont1">
	<div id="div1" [ngStyle]="{'background-color': color0}"></div>
	<div id="div1" [ngStyle]="{'background-color': color1}"></div>
	<div id="div1" [ngStyle]="{'background-color': color2}"></div>
	<div id="div1" [ngStyle]="{'background-color': color3}"></div>
	<div id="div1" [ngStyle]="{'background-color': color4}"></div>
</div>

<div id="cont1">
	<div id="div2" [ngStyle]="{'background-color': color5}"></div>
	<div id="div2" [ngStyle]="{'background-color': color6}"></div>
	<div id="div2" [ngStyle]="{'background-color': color7}"></div>
	<div id="div2" [ngStyle]="{'background-color': color8}"></div>
	<div id="div2" [ngStyle]="{'background-color': color9}"></div>
<div>

<div id="cont1">
	<div id="div2" [ngStyle]="{'background-color': color10}"></div>
	<div id="div2" [ngStyle]="{'background-color': color11}"></div>
	<div id="div2" [ngStyle]="{'background-color': color12}"></div>
	<div id="div2" [ngStyle]="{'background-color': color13}"></div>
	<div id="div2" [ngStyle]="{'background-color': color14}"></div>
<div>

<div id="cont1">
	<div id="div1" [ngStyle]="{'background-color': color0}"></div>
	<div id="div1" [ngStyle]="{'background-color': color1}"></div>
	<div id="div1" [ngStyle]="{'background-color': color2}"></div>
	<div id="div1" [ngStyle]="{'background-color': color3}"></div>
	<div id="div1" [ngStyle]="{'background-color': color4}"></div>
</div>

<div id="cont1">
	<div id="div2" [ngStyle]="{'background-color': color5}"></div>
	<div id="div2" [ngStyle]="{'background-color': color6}"></div>
	<div id="div2" [ngStyle]="{'background-color': color7}"></div>
	<div id="div2" [ngStyle]="{'background-color': color8}"></div>
	<div id="div2" [ngStyle]="{'background-color': color9}"></div>
<div>

<div id="cont1">
	<div id="div2" [ngStyle]="{'background-color': color10}"></div>
	<div id="div2" [ngStyle]="{'background-color': color11}"></div>
	<div id="div2" [ngStyle]="{'background-color': color12}"></div>
	<div id="div2" [ngStyle]="{'background-color': color13}"></div>
	<div id="div2" [ngStyle]="{'background-color': color14}"></div>
<div>